
  
  .animated-element {
    display: flex;
    margin: 12px 0 12px 100px;
    padding: 12px;
    font-size: 48px;
    font-weight: lighter;
    font-style: italic;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .animated-element.animate {
    opacity: 1;
    transform: translateX(0);
  }
  

