.aboutme-container{
  display: flex;
  flex-direction: column;
    color: #fff;
    margin-top: 24px;
    height: 100vh;
    background-color: rgba(6, 52, 202, 1);
    background-image: linear-gradient(74deg, rgba(6, 52, 202, 1) 6%, rgba(205, 241, 255, 1) 93%);
}


.aboutme-header {
    display: flex;
    margin: 12px 0 12px 100px;
    padding: 12px;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
}


.animated-aboutme-element {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;
  }
  
  .animated-aboutme-element.animate {
    opacity: 1;
    transform: translateX(0);
  }

  .aboutme-content {
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;

  }

  .about-me-technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 32px;
    min-height: 250px;
    border: solid #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px;
  }

  .about-me-technologies h3 {
    font-style: italic;
    font-weight: 400;
    
  
  }

  .about-me-technologies ul li {
    display: flex;
    gap: 50px;
    margin: 12px;
    padding: 12px;
    font-weight: lighter;
    align-items: center;
  }

  .about-me-technologies ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  
  }


  .about-me-description {
    font-size: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    border: solid #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px;
    
  }


  .about-me-introducion {
    display: flex;
    text-align: center;
    word-wrap: break-word;
    word-spacing: 5px;
    line-height: 40px;
    width: 400px;
    align-self: center;
    justify-content: center;
    align-items: center;
    
  }

  .about-me-hello {
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: 64px;
    gap: 40px;

  }

  .waving-hand {
    font-size: 3rem;
    animation: wave 2s infinite;
  }
  
  @keyframes wave {
    0%, 100% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(0);
    }
    75% {
      transform: rotate(30deg);
    }
   
  }